<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container text-center">
<h1>Password Generator</h1>
<br>
<br>
<form action="{% url 'password' %}">
    <br>
    <br>
    <input type="checkbox" name="uppercase" checked> Uppercase
    <input type="checkbox" name="numbers"> Numbers
    <input type="checkbox" name="special"> Special Characters
    <br>
    <br>
    Your name:  <input type="text" name="your_name" maxlength="10">
    Your born day:  <input type="text" name="your_born_day" maxlength="2">
    <br>
    <br>
    <input type="submit" value="Generate Password" name="POST" class="btn btn-success">
  </form>
  </div>
